.ant-form-item {
  margin: 0 0 0px !important;
}

.card-icon {
  position: absolute;
  top: -20px;
  left: -15px;
  font-size: 30px;
}

.legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-icon {
  position: absolute;
  top: -20px;
  left: -15px;
  font-size: 30px;
  background-color: #fff;
}



.bi-circle {
  font-size: 32px;
}

.pet-icon {
  font-size: 30px;
}

.fa-paw {
  font-size: 23px;
  font-size: 21px;
  left: -9.5px;
  top: -7px;
  z-index: 1;
  border-radius: 50%;
}

.icon {
  font-size: 18px;
}


.fa-bone {
  transform: rotate(158deg) !important;
}

.label-detail {
  color: #303030 !important;
  font-weight: 500;
}

.alerts-card {
  margin-top: 20px;
}
