<h2 class="flex-container">
  <span *ngIf="!pethistory?.idm">{{ 'PET.HISTORY.FORM.TITLE.NEW' | translate}}</span>
  <span *ngIf="pethistory?.idm">{{ 'PET.HISTORY.FORM.TITLE.EDIT' | translate}}</span>
</h2>
<nz-breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <span nz-icon nzType="home" routerLink="/"></span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/dashboard/clients">
        <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
        <span>{{ 'CLIENTS.LIST.TITLE.BREADCRUMB' | translate }}</span>
      </a>
    </nz-breadcrumb-item>

    <nz-breadcrumb-item>
      <a [routerLink]="['/dashboard/clients/detail', client._id]">
        <span nz-icon nzType="user"></span>
        <span> {{ 'CLIENTS.DETAIL.BREADCRUMB' | translate}}</span>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="['/dashboard/clients/pets/history', pet._id]">
        <span nz-icon nzType="user"></span>
        <span> {{ 'PET.DETAIL.BREADCRUMB' | translate}}</span>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <span nz-icon nzType="user"></span>
      <span *ngIf="!pethistory?.idm"> {{ 'PET.HISTORY.FORM.BREADCRUMB.NEW' | translate}}</span>
      <span *ngIf="pethistory?.idm"> {{ 'PET.HISTORY.FORM.BREADCRUMB.EDIT' | translate}} {{'(' + pethistory?.fec + ')'
        }}</span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>

  <div>
    <br>
    <br>
    <form nz-form (submit)="!pethistory._id ? save() : update()">

      <div nz-row nzGutter="16">
        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="6">
          <!-- TEMPERATURE -->
          <nz-form-item>
            <nz-form-label nzFor="tmp">{{'PET.HISTORY.FORM.TEMP' | translate}}</nz-form-label>
            <nz-form-control>
              <div nzFlex nzFlex="auto">
                <nz-input-group nzSuffix="ºC">
                  <input nz-input name="tmp" type="number" id="tmp" [(ngModel)]="pethistory.tmp" min="0">
                </nz-input-group>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="6">
          <!-- WEIGTH -->
          <nz-form-item>
            <nz-form-label nzFor="pes">{{'PET.HISTORY.FORM.WEIGHT' | translate}}</nz-form-label>
            <nz-form-control>
              <div nzFlex nzFlex="auto">
                <nz-input-group>
                  <input nz-input name="pes" type="number" id="pes" [(ngModel)]="pethistory.pes" min="0">
                </nz-input-group>
              </div>
            </nz-form-control>
          </nz-form-item>

        </div>
        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="6">
          <!-- DATE -->
          <nz-form-item>
            <nz-form-label nzFor="fec">{{ 'PET.HISTORY.FORM.DATE' | translate}}</nz-form-label>
            <nz-form-control>
              <input nz-input name="fec" type="date" id="fec" [(ngModel)]="pethistory.fec">
            </nz-form-control>
          </nz-form-item>

        </div>

        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="6">
          <!-- FLAG -->
          <nz-form-item>

            <a (click)="setFixed()">
              <i class="bi bi-flag flag" *ngIf="!pethistory?.fixed" nz-typography></i>
              <i class="bi bi-flag-fill flag" *ngIf="pethistory.fixed" nz-typography nzType="danger"></i>
            </a>
          </nz-form-item>
        </div>
      </div>


      <!-- CHANGES ALERT -->
      <nz-form-item>
        <nz-alert style="width: 100%;" *ngIf="hasDifferences('consultationReason') || hasDifferences('cli')"
          nzType="info" nzMessage="{{ 'FORM.UNSAVED.CHANGES' | translate }}" nzShowIcon></nz-alert>
      </nz-form-item>


      <div nz-row nzGutter="16">

        <!-- CONSULTATION_REASON -->
        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="12">

          <nz-form-item>
            <nz-form-label nzFor="consultationReason">{{ 'PET.HISTORY.FORM.CONSULTATION_REASON' | translate }}
            </nz-form-label>
            <textarea nz-input name="consultationReason" id="consultationReason"
              [(ngModel)]="pethistory.consultationReason" (input)="onTextInput($event, 'consultationReason')">
          </textarea>
          </nz-form-item>
        </div>


        <!-- DIAGNOSTIC -->
        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzFor="cli">{{ 'PET.HISTORY.FORM.DIAGNOSTIC' | translate }} </nz-form-label>
            <textarea nz-input name="cli" id="cli" [(ngModel)]="pethistory.cli"
              (input)="onTextInput($event, 'cli')"></textarea>

            <div nzStatus="error" *ngIf="submitted && !pethistory?.cli">
              <small class="error">{{ 'PET.HISTORY.FORM.DIAGNOSTIC.MANDATORY' | translate }}</small>
            </div>
          </nz-form-item>
        </div>
      </div>


      <!--IMAGES -->
      <nz-upload nzType="drag" [nzMultiple]="true" (nzChange)="handleUploadChange($event)">
        <p class="ant-upload-drag-icon">
          <span nz-icon nzType="inbox"></span>
        </p>
        <p class="ant-upload-text">{{ 'FILE.UPLOAD.TITLE' | translate }}</p>
        <p class="ant-upload-hint">
          {{ 'FILE.UPLOAD.DESCRIPTION' | translate }}
        </p>
      </nz-upload>


      <div class="flex-button">
        <!-- SAVE BUTTON -->
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary">{{ 'BUTTON.SAVE' | translate }}</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </div>
