.flex-button {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

textarea.ant-input{
  min-height: 300px !important;
  padding-bottom: 20px !important;
}



.flag {
  font-size: 17px;
}
