<h2>{{ 'CLINIC.IMAGES.LIST.TITLE' | translate}}</h2>
<nz-breadcrumb>
  <nz-breadcrumb-item>
    <span nz-icon nzType="home" routerLink="/"></span>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a class="bi bi-h-square" routerLink="/dashboard/configuration/clinic"><span class="breadcrumb-item">{{
        'SIDEBAR.CLINIC.TITLE' | translate}}</span></a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>
      <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
      <span>{{ 'CLINIC.IMAGES.LIST.TITLE.BREADCRUMB' | translate }}</span>
    </a>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<!-- MODAL BUTTON -->
<div nz-row nzJustify="end">
  <a (click)="showModal()"  *ngIf="images.length <= 0">
    <i class="add-icon bi bi-plus-circle"></i>
  </a>
</div>
<br>

<!-- TABLE -->
<nz-table #basicTable nzShowSizeChanger [nzData]="images" [nzFrontPagination]="false" [nzLoading]="loading"
  [nzTotal]="totalResults" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)" nzTableLayout="fixed">
  <thead>
    <tr>
      <th nzCustomFilter nzWidth="90%">
        {{ 'CLINIC.IMAGES.LIST.TABLE.PARAMS' | translate }}
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="filtro.length > 0" [nzDropdownMenu]="menu">
          <span style="font-size: 15px;" nz-icon nzType="search"></span>
        </nz-filter-trigger>
      </th>
      <th nzWidth="10%">{{ 'TABLE.ACTION' | translate}}
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let image of basicTable.data">
      <tr>
        <!-- CLIENT NAME -->
        <td class="image-name">
          <a (click)="showModal(image)">

            <p><span class="font-color-black">{{'CLINIC.IMAGES.FORM.CLIENT_ID' | translate}}: </span><span>{{ image?.clientId}}</span></p>
            <p><span class="font-color-black">{{'CLINIC.IMAGES.FORM.PROJECT_ID' | translate}}: </span><span>{{ image?.projectId}}</span></p>
            <p><span class="font-color-black">{{'CLINIC.IMAGES.FORM.AUTH_URI' | translate}}: </span><span>{{ image?.authUri}}</span></p>
            <p><span class="font-color-black">{{'CLINIC.IMAGES.FORM.TOKEN_URI' | translate}}: </span><span>{{ image?.tokenUri}}</span></p>
            <p><span class="font-color-black">{{'CLINIC.IMAGES.FORM.AUTH_PROVIDER_CERT_URL' | translate}}: </span><span>{{ image?.authProviderCertUrl}}</span></p>
            <p><span class="font-color-black">{{'CLINIC.IMAGES.FORM.CLIENT_SECRET' | translate}}: </span><span>{{ image?.clientSecret}}</span></p>
            <p><span class="font-color-black">{{'CLINIC.IMAGES.FORM.HISTORY_FOLDER' | translate}}: </span><span>{{ image?.historyFolder}}</span></p>
            <p><span class="font-color-black">{{'CLINIC.IMAGES.FORM.ECOGRAPHY_FOLDER' | translate}}: </span><span>{{ image?.ecographyFolder}}</span></p>
            <p><span class="font-color-black">{{'CLINIC.IMAGES.FORM.PET_PROFILE_FOLDER' | translate}}: </span><span>{{ image?.petProfileFolder}}</span></p>
            <p><span class="font-color-black">{{'CLINIC.IMAGES.FORM.RAY_FOLDER' | translate}}: </span><span>{{ image?.rayFolder}}</span></p>

          </a>
        </td>
        <td>
          <!-- <a>{{ 'BUTTON.DELETE' | translate }}</a> -->
          <a (click)="delete(image)"><i class="delete-icon bi bi-trash3"></i></a>
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input image="text" nz-input placeholder="Buscar por image, mascota..." [(ngModel)]="filtro" />
      <div style="display: flex; justify-content: space-between;">
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Buscar</button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
      </div>
    </div>
  </div>
</nz-dropdown-menu>


<nz-modal [nzContent]="modalContent" [nzStyle]="{ top: '20px' }" [nzMaskClosable]="false" [nzFooter]="null"
  [nzWidth]="'70%'" [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()">
</nz-modal>


<ng-template #modalContent>
  <app-clinic-images-form [image]="selectedClinicImage" (imageEvent)="onUpdateClinicImage($event)"></app-clinic-images-form>
</ng-template>
