<h2 class="flex-container">
  <span *ngIf="!pethistory?.idm">{{ 'PET.HISTORY.FORM.TITLE.NEW' | translate}}</span>
  <span *ngIf="pethistory?.idm">{{ 'PET.HISTORY.FORM.TITLE.EDIT' | translate}}</span>
</h2>
<nz-breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <span nz-icon nzType="home" routerLink="/"></span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/dashboard/clients">
        <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
        <span>{{ 'CLIENTS.LIST.TITLE.BREADCRUMB' | translate }}</span>
      </a>
    </nz-breadcrumb-item>

    <nz-breadcrumb-item>
      <a [routerLink]="['/dashboard/clients/detail', client._id]">
        <span nz-icon nzType="user"></span>
        <span> {{ 'CLIENTS.DETAIL.BREADCRUMB' | translate}}</span>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="['/dashboard/clients/pets/history', pet._id]">
        <span nz-icon nzType="user"></span>
        <span> {{ 'PET.DETAIL.BREADCRUMB' | translate}}</span>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <span nz-icon nzType="user"></span>
      <span *ngIf="!pethistory?.idm"> {{ 'PET.HISTORY.FORM.BREADCRUMB.NEW' | translate}}</span>
      <span *ngIf="pethistory?.idm"> {{ 'PET.HISTORY.FORM.BREADCRUMB.EDIT' | translate}} {{'(' + pethistory?.fec + ')'
        }}</span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>

  <div>
    <br>
    <br>
    <form nz-form (submit)="!pethistory._id ? save() : update()">

      <div class="column-2">
        <!-- TEMPERATURE -->
        <nz-form-item>
          <nz-form-label nzFor="car">{{'PET.HISTORY.FORM.TEMP' | translate}}</nz-form-label>
          <nz-form-control>
            <div nzFlex nzFlex="auto">
              <nz-input-group nzSuffix="ºC">
                <input nz-input name="tmp" type="number" id="tmp" [(ngModel)]="pethistory.tmp" min="0">
              </nz-input-group>
            </div>
          </nz-form-control>
        </nz-form-item>

        <!-- WEIGTH -->
        <nz-form-item>
          <nz-form-label nzFor="pes">{{'PET.HISTORY.FORM.WEIGHT' | translate}}</nz-form-label>
          <nz-form-control>
            <div nzFlex nzFlex="auto">
              <nz-input-group>
                <input nz-input name="pes" type="number" id="pes" [(ngModel)]="pethistory.pes" min="0">
              </nz-input-group>
            </div>
          </nz-form-control>
        </nz-form-item>

        <!-- DATE -->

        <nz-form-item>
          <nz-form-label nzFor="fec">{{ 'PET.HISTORY.FORM.DATE' | translate}}</nz-form-label>
          <nz-form-control>
            <input nz-input name="fec" type="date" id="fec" [(ngModel)]="pethistory.fec">
          </nz-form-control>
        </nz-form-item>
      </div>


      <!-- CHANGES ALERT -->
      <nz-form-item>
        <nz-alert style="width: 100%;" *ngIf="hasDifferences('consultationReason') || hasDifferences('cli')"
          nzType="info" nzMessage="{{ 'FORM.UNSAVED.CHANGES' | translate }}" nzShowIcon></nz-alert>
      </nz-form-item>

      <div class="column-2">

        <!-- CONSULTATION_REASON -->
        <nz-form-item style="padding-right: 5px;">
          <nz-form-label nzFor="consultationReason">{{ 'PET.HISTORY.FORM.CONSULTATION_REASON' | translate }}
          </nz-form-label>
          <textarea nz-input name="consultationReason" id="consultationReason"
            [(ngModel)]="pethistory.consultationReason" (input)="onTextInput($event, 'consultationReason')">
          </textarea>
          <!-- <div nzStatus="error" *ngIf="submitted && !pethistory?.consultationReason">
            <small class="error">{{ 'PET.HISTORY.FORM.DIAGNOSTIC.CONSULTATION_REASON' | translate }}</small>
          </div> -->
        </nz-form-item>

        <!-- DIAGNOSTIC -->
        <nz-form-item style="padding-left: 5px;">
          <nz-form-label nzFor="cli">{{ 'PET.HISTORY.FORM.DIAGNOSTIC' | translate }} </nz-form-label>
          <textarea nz-input name="cli" id="cli" [(ngModel)]="pethistory.cli" (input)="onTextInput($event, 'cli')"></textarea>

          <div nzStatus="error" *ngIf="submitted && !pethistory?.cli">
            <small class="error">{{ 'PET.HISTORY.FORM.DIAGNOSTIC.MANDATORY' | translate }}</small>
          </div>
        </nz-form-item>
      </div>



      <nz-upload nzType="drag" [nzMultiple]="true" (nzChange)="handleUploadChange($event)">
        <p class="ant-upload-drag-icon">
          <span nz-icon nzType="inbox"></span>
        </p>
        <p class="ant-upload-text">{{ 'FILE.UPLOAD.TITLE' | translate }}</p>
        <p class="ant-upload-hint">
          {{ 'FILE.UPLOAD.DESCRIPTION' | translate }}
        </p>
      </nz-upload>




      <div class="flex-button">
        <!-- BOTON GUARDAR -->
        <nz-form-item>
          <nz-form-control [nzOffset]="7" [nzSpan]="15">
            <button nz-button nzType="primary">{{ 'BUTTON.SAVE' | translate }}</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </div>
