<h2 class="flex-container">
  <span *ngIf="!imageEdit.id"> {{ 'CLINIC.IMAGES.FORM.TITLE.NEW' | translate }}</span>
  <span *ngIf="imageEdit.id"> {{ 'CLINIC.IMAGES.FORM.TITLE.EDIT' | translate }}</span>

</h2>
<nz-breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <span nz-icon nzType="home" routerLink="/"></span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/dashboard/configuration/clinic/images">
        <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
        <span>{{ 'CLINIC.IMAGES.LIST.TITLE.BREADCRUMB' | translate }}</span>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <span nz-icon nzType="user"></span>
      <span *ngIf="!imageEdit.id"> {{ 'CLINIC.IMAGES.FORM.BREADCRUMB.NEW' | translate}}</span>
      <span *ngIf="imageEdit.id"> {{ 'CLINIC.IMAGES.FORM.BREADCRUMB.EDIT' | translate}}</span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div>

    <br>
    <br>
    <form nz-form (submit)="!imageEdit._id ? saveImage() : updateImage()">
      <!-- CLIENT_EMAIL -->
      <nz-form-item>
        <nz-form-label nzFor="clientEmail">{{'CLINIC.IMAGES.FORM.CLIENT_EMAIL' | translate}}</nz-form-label>
        <nz-form-control>
          <input nz-input name="clientEmail" type="email" id="clientEmail" [(ngModel)]="imageEdit.clientEmail">
        </nz-form-control>
      </nz-form-item>

      <!-- CLIENT_X509_CERT_URL -->
      <nz-form-item>
        <nz-form-label nzFor="clientX509CertUrl">{{'CLINIC.IMAGES.FORM.CLIENT_X509_CERT_URL' | translate}}</nz-form-label>
        <nz-form-control>
          <input nz-input name="clientX509CertUrl" type="text" id="clientX509CertUrl"
            [(ngModel)]="imageEdit.clientX509CertUrl">
        </nz-form-control>
      </nz-form-item>

      <!-- PRIVATE_KEY -->
      <nz-form-item>
        <nz-form-label nzFor="privateKey">{{'CLINIC.IMAGES.FORM.PRIVATE_KEY_ID' | translate}}</nz-form-label>
        <nz-form-control>
          <input nz-input name="privateKey" type="text" id="privateKey" [(ngModel)]="imageEdit.privateKey">
        </nz-form-control>
      </nz-form-item>

      <!-- PRIVATE_KEY_ID -->
      <nz-form-item>
        <nz-form-label nzFor="privateKeyId">Private Key ID</nz-form-label>
        <nz-form-control>
          <input nz-input name="privateKeyId" type="text" id="privateKeyId" [(ngModel)]="imageEdit.privateKeyId">
        </nz-form-control>
      </nz-form-item>

      <!-- TYPE -->
      <nz-form-item>
        <nz-form-label nzFor="type">{{'CLINIC.IMAGES.FORM.TYPE' | translate}}</nz-form-label>
        <nz-form-control>
          <input nz-input name="type" type="text" id="type" [(ngModel)]="imageEdit.type">
        </nz-form-control>
      </nz-form-item>

      <!-- UNIVERSE_DOMAIN -->
      <nz-form-item>
        <nz-form-label nzFor="universeDomain">{{'CLINIC.IMAGES.UNIVERSE_DOMAIN' | translate}}</nz-form-label>
        <nz-form-control>
          <input nz-input name="universeDomain" type="text" id="universeDomain" [(ngModel)]="imageEdit.universeDomain">
        </nz-form-control>
      </nz-form-item>


      <!-- HISTORY_FOLDER -->
      <nz-form-item>
        <nz-form-label nzFor="historyFolder">{{'CLINIC.IMAGES.HISTORY_FOLDER' | translate}}&nbsp;<span
            class="error">*</span></nz-form-label>
        <nz-form-control [nzSpan]="20">
          <div nzFlex nzFlex="auto">
            <input nz-input name="historyFolder" type="text" id="historyFolder" [(ngModel)]="imageEdit.historyFolder">
            <!-- <div nzStatus="error" *ngIf="submitted && !imageEdit.historyFolder">
              <small class="error">{{ 'CLINIC.IMAGES.FORM.HISTORY_FOLDER.MANDATORY' | translate }}</small>
            </div> -->
          </div>
        </nz-form-control>
      </nz-form-item>

      <!-- ECOGRAPHY_FOLDER -->
      <nz-form-item>
        <nz-form-label nzFor="ecographyFolder">{{'CLINIC.IMAGES.ECOGRAPHY_FOLDER' | translate}}&nbsp;<span
            class="error">*</span></nz-form-label>
        <nz-form-control [nzSpan]="20">
          <div nzFlex nzFlex="auto">
            <input nz-input name="ecographyFolder" type="text" id="ecographyFolder"
              [(ngModel)]="imageEdit.ecographyFolder">
            <!-- <div nzStatus="error" *ngIf="submitted && !imageEdit.ecographyFolder">
              <small class="error">{{ 'CLINIC.IMAGES.FORM.ECOGRAPHY_FOLDER.MANDATORY' | translate }}</small>
            </div> -->
          </div>
        </nz-form-control>
      </nz-form-item>

      <!-- FOTOGRAPHY_FOLDER -->
      <nz-form-item>
        <nz-form-label nzFor="petProfileFolder">{{'CLINIC.IMAGES.PET_PROFILE_FOLDER' | translate}}&nbsp;<span
            class="error">*</span></nz-form-label>
        <nz-form-control [nzSpan]="20">
          <div nzFlex nzFlex="auto">
            <input nz-input name="petProfileFolder" type="text" id="petProfileFolder"
              [(ngModel)]="imageEdit.petProfileFolder">
            <!-- <div nzStatus="error" *ngIf="submitted && !imageEdit.ecographyFolder">
              <small class="error">{{ 'CLINIC.IMAGES.FORM.PET_PROFILE_FOLDER.MANDATORY' | translate }}</small>
            </div> -->
          </div>
        </nz-form-control>
      </nz-form-item>


      <!-- RAY_FOLDER -->
      <nz-form-item>
        <nz-form-label nzFor="rayFolder">{{'CLINIC.IMAGES.RAY_FOLDER' | translate}}&nbsp;<span
            class="error">*</span></nz-form-label>
        <nz-form-control [nzSpan]="20">
          <div nzFlex nzFlex="auto">
            <input nz-input name="rayFolder" type="text" id="rayFolder" [(ngModel)]="imageEdit.rayFolder">
            <!-- <div nzStatus="error" *ngIf="submitted && !imageEdit.rayFolder">
              <small class="error">{{ 'CLINIC.IMAGES.FORM.RAY_FOLDER.MANDATORY' | translate }}</small>
            </div> -->
          </div>
        </nz-form-control>
      </nz-form-item>

      <div class="flex-button">
        <!-- BOTON GUARDAR -->
        <nz-form-item>
          <nz-form-control [nzOffset]="7" [nzSpan]="15">
            <button nz-button nzType="primary">{{ 'BUTTON.SAVE' | translate }}</button>
          </nz-form-control>
        </nz-form-item>
      </div>

    </form>
  </div>
