@import '../../../../../assets/css/confirm-modal.css';

.timeline-container {
  overflow-y: auto;
  height: 500px;
}

.legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-button {
  font-size: 30px;
  color: #1890ff
}

.edit-button:hover {
  font-size: 30px;
  color: #44ADFF
}


.today {
  color: rgb(23, 179, 23);
  font-size: 15px;
}

.timeline {
  cursor: pointer;
  padding-bottom: 30px !important;
}

.preserve-newline {
  white-space: pre-wrap;
}

.icon {
  font-size: 21px !important;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}


html.swal2-shown,body.swal2-shown { overflow-y: hidden !important; height: auto!important;}
