<h2 class="flex-container">
  <span *ngIf="!unityTypeEdit.id"> {{ 'UNITY_TYPES.FORM.TITLE.NEW' | translate }}</span>
  <span *ngIf="unityTypeEdit.id"> {{ 'UNITY_TYPES.FORM.TITLE.EDIT' | translate }}</span>

</h2>
<nz-breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <span nz-icon nzType="home" routerLink="/"></span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/dashboard/configuration/store/unity_types">
        <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
        <span>{{ 'UNITY_TYPES.LIST.TITLE.BREADCRUMB' | translate }}</span>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <span nz-icon nzType="user"></span>
      <span *ngIf="!unityTypeEdit.id"> {{ 'UNITY_TYPES.FORM.BREADCRUMB.NEW' | translate}}</span>
      <span *ngIf="unityTypeEdit.id"> {{ 'UNITY_TYPES.FORM.BREADCRUMB.EDIT' | translate}} {{'(' +
        unityTypeEdit.name + ')' }}</span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div>

    <br>
    <br>
    <form nz-form (submit)="!unityTypeEdit._id ? saveProvider() : updateProvider()">


      <div class="column-2">

        <!-- NAME -->
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzFor="name">{{'UNITY_TYPES.FORM.NAME' | translate}}&nbsp;<span
              class="error">*</span></nz-form-label>
          <nz-form-control [nzSpan]="15">
            <div nzFlex nzFlex="auto">
              <input nz-input name="name" type="text" id="name" [(ngModel)]="unityTypeEdit.name">
              <div nzStatus="error" *ngIf="submitted && !unityTypeEdit.name">
                <small class="error">{{ 'UNITY_TYPES.FORM.NAME.MANDATORY' | translate }}</small>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="!unityTypeEdit.id">
        </nz-form-item>

          <!-- ACTIVE -->
          <nz-form-item *ngIf="unityTypeEdit.id">
            <nz-form-label [nzSpan]="7" nzFor="active">{{ 'ACTIVE.TEXT' | translate}}</nz-form-label>
            <nz-form-control [nzSpan]="15">
              <nz-switch name="active" id="active" [(ngModel)]="unityTypeEdit.active"></nz-switch>
            </nz-form-control>
          </nz-form-item>

      </div>


      <div class="flex-button">
        <!-- BOTON GUARDAR -->
        <nz-form-item>
          <nz-form-control [nzOffset]="7" [nzSpan]="15">
            <button nz-button nzType="primary">{{ 'BUTTON.SAVE' | translate }}</button>
          </nz-form-control>
        </nz-form-item>
      </div>

    </form>
  </div>
