<nz-layout>
  <nz-sider style="z-index: 2;" class="menu-sidebar" nzCollapsible [nzWidth]="getMenuWidth()" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>

    <!-- LOAD ITEMS FROM A LIST-->
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <ng-container *ngFor="let menu of menus">
        <li *ngIf="menu?.children && menu?.children?.length > 0" nz-submenu [nzOpen]="menu?.open"
          [nzTitle]="submenuTitle">
          <ng-template #submenuTitle>
            <span><i class="icon" [ngClass]="menu?.icon"></i></span>
            <span *ngIf="!isCollapsed" class="title">{{ menu?.title | translate }}</span>
          </ng-template>
          <ul>
            <li *ngFor="let child of menu?.children" nz-menu-item [nzMatchRouter]="true">
              <a [routerLink]="child?.link" (click)="toggleMenu()">
                <span><i class="icon" [ngClass]="child?.icon"></i></span>
                <span class="title">{{child?.title | translate}}</span>
              </a>
            </li>
          </ul>
        </li>
        <li *ngIf="!(menu?.children && menu?.children?.length > 0)" nz-menu-item [nzMatchRouter]="true">
          <a [routerLink]="menu?.link" (click)="toggleMenu()">
            <!-- <span nz-icon nzType="{{menu?.icon}}"></span> -->
            <span class="icon" ngClass="{{menu?.icon}}"></span>
            <span *ngIf="!isCollapsed" class="title">{{menu?.title | translate}}</span>
          </a>
        </li>
      </ng-container>
    </ul>

  </nz-sider>

  <nz-layout class="app-content">

    <!-- HEADER -->
    <nz-header style="z-index: 2;">
      <div class="app-header">

        <div>
          <span class="header-trigger" (click)="this.isCollapsed = !this.isCollapsed" *ngIf="window.innerWidth > mobileWindowSize">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          </span>
          <button *ngIf="window.innerWidth <= mobileWindowSize" nz-button class="hamburger-btn" (click)="toggleMenu()">☰</button>

        </div>


        <!-- LANGUAGE CHANGER -->
        <nz-select class="app-language" [(ngModel)]="locale" (ngModelChange)="switchLanguage()" nzShowSearch
          nzPlaceHolder="{{ 'Select Language' | nzI18n }}" nzAllowClear>
          <nz-option *ngFor="let lang of languages" [nzLabel]="lang.label" [nzValue]="lang.value"></nz-option>
        </nz-select>
      </div>
    </nz-header>

    <!-- PAGE CHILD CONTENT -->
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>

</nz-layout>
