
<!-- INVENTORY -->
<nz-divider nzOrientation="left" nzText="{{ 'CONFIGURATION.INVENTORY' | translate }}"></nz-divider>
<nz-row nzGutter="16">

  <!-- PROVIDER -->
  <nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" nzXl="6" nzXXl="6">
    <div class="inner-box">
      <nz-card nzTitle="{{ 'CONFIGURATION.INVENTORY.PROVIDERS' | translate }}">
        <p>{{'CONFIGURATION.INVENTORY.PROVIDERS.DESCRIPTION' | translate }}</p>
        <br>
        <div class="go-button">
          <button nz-button nzType="primary" routerLink="/dashboard/configuration/store/providers">{{ 'BUTTON.GO' | translate }}</button>
        </div>
      </nz-card>
    </div>
  </nz-col>

  <!-- PRODUCT_TYPE -->
  <nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" nzXl="6" nzXXl="6" nzOffset="1">
    <div class="inner-box">
      <nz-card nzTitle="{{ 'CONFIGURATION.INVENTORY.PRODUCT_TYPE' | translate }}">
        <p>{{'CONFIGURATION.INVENTORY.PRODUCT_TYPE.DESCRIPTION' | translate }}</p>
        <br>
        <div class="go-button">
          <button nz-button nzType="primary" routerLink="/dashboard/configuration/store/product_types">{{ 'BUTTON.GO' | translate }}</button>
        </div>
      </nz-card>
    </div>
  </nz-col>

  <!-- UNITY_TYPE -->
  <nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" nzXl="6" nzXXl="6" nzOffset="1">
    <div class="inner-box">
      <nz-card nzTitle="{{ 'CONFIGURATION.INVENTORY.UNITY_TYPE' | translate }}">
        <p>{{'CONFIGURATION.INVENTORY.UNITY_TYPE.DESCRIPTION' | translate }}</p>
        <br>
        <div class="go-button">
          <button nz-button nzType="primary" routerLink="/dashboard/configuration/store/unity_types">{{ 'BUTTON.GO' | translate }}</button>
        </div>
      </nz-card>
    </div>
  </nz-col>
</nz-row>
