<h2 class="flex-container">
  <span *ngIf="!client.idc"> {{ 'CLIENTS.FORM.BREADCRUMB.NEW' | translate }}</span>
  <span *ngIf="client.idc"> {{ 'CLIENTS.FORM.BREADCRUMB.EDIT' | translate }}</span>

</h2>
<nz-breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <span nz-icon nzType="home" routerLink="/"></span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/dashboard/clients">
        <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
        <span>{{ 'CLIENTS.LIST.TITLE.BREADCRUMB' | translate }}</span>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <span nz-icon nzType="user"></span>
      <span *ngIf="!client.idc"> {{ 'CLIENTS.FORM.BREADCRUMB.NEW' | translate}}</span>
      <span *ngIf="client.idc"> {{ 'CLIENTS.FORM.BREADCRUMB.EDIT' | translate}} {{'(' + client.ayn + ')' }}</span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div [ngClass]="{'app-content': client.problematico}">

    <br>
    <br>
    <form nz-form (submit)="!client._id ? saveClient() : updateClient()">
      <div nz-row nzGutter="112">

        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="12" *ngIf="client?.idc">
          <!-- FECI -->
          <nz-form-item>
            <nz-form-label  nzFor="feci">{{ 'CLIENTS.FORM.REGISTER_DATE' | translate}}</nz-form-label>
            <nz-form-control >
              <input nz-input name="feci" type="date" id="feci" [(ngModel)]="client.feci " [disabled]="true">
            </nz-form-control>
          </nz-form-item>
        </div>


        <!-- NOMBRE -->
        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="12">
          <nz-form-item>
            <nz-form-label  nzFor="ayn">{{'CLIENTS.FORM.NAME' | translate}}&nbsp;<span
                class="error">*</span></nz-form-label>
            <nz-form-control >
              <div nzFlex nzFlex="auto">

                <input nz-input name="ayn" type="text" id="ayn" [(ngModel)]="client.ayn">
                <div nzStatus="error" *ngIf="submitted && !client.ayn">
                  <small class="error">{{ 'CLIENTS.FORM.NAME.MANDATORY' | translate }}</small>
                </div>

              </div>
            </nz-form-control>
          </nz-form-item>
        </div>


        <!-- DIRECCION -->
        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="12">
          <nz-form-item>
            <nz-form-label  nzFor="dir">{{ 'CLIENTS.FORM.DIRECTION' | translate }}</nz-form-label>
            <nz-form-control >
              <div nzFlex nzFlex="auto">
                <input nz-input name="dir" type="text" id="dir" [(ngModel)]="client.dir">
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- CODIGO POSTAL -->
        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="12">
          <nz-form-item>
            <nz-form-label  nzFor="codp">{{ 'CLIENTS.FORM.POSTAL_CODE' | translate}}</nz-form-label>
            <nz-form-control >
              <input nz-input name="codp" type="text" id="codp" [(ngModel)]="client.codp">
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- DNI -->
        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="12">
          <nz-form-item>
            <nz-form-label  nzFor="identif">{{ 'CLIENTS.FORM.DNI' | translate }}</nz-form-label>
            <nz-form-control >
              <div nzFlex nzFlex="auto">
                <input nz-input name="identif" type="text" id="identif" [(ngModel)]="client.Identif">
                <div nzStatus="error" *ngIf="identifExist">
                  <small class="error">{{ 'CLIENTS.FORM.DNI.USED' | translate }}</small>
                </div>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- PROVINCIA -->
        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="12">
          <nz-form-item>
            <nz-form-label  nzFor="codt">{{ 'CLIENTS.FORM.PROVINCE' | translate }}</nz-form-label>
            <nz-form-control >
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'CLIENTS.FORM.PROVINCE.PLACEHOLDER' | translate }}"
                [(ngModel)]="client.Dep" name="dep" (ngModelChange)="changeLocalities()">
                <nz-option *ngFor="let option of provinces" [nzLabel]="option.nom" [nzValue]="option.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- LOCALIDAD -->
        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="12">
          <nz-form-item>
            <nz-form-label  nzFor="codt">{{ 'CLIENTS.FORM.LOCALITY' | translate }}</nz-form-label>
            <nz-form-control >
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="{{ 'CLIENTS.FORM.LOCALITY.PLACEHOLDER' | translate }}"
                [(ngModel)]="client.Loc" name="loc" (ngModelChange)="changeProvince()">
                <nz-option *ngFor="let option of localities" [nzLabel]="option.nom" [nzValue]="option.id"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>


        <!-- TELEFONO -->
        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="12">
          <nz-form-item>
            <nz-form-label  nzFor="tel">{{ 'CLIENTS.FORM.TELEPHONE' | translate }}</nz-form-label>
            <nz-form-control >
              <input nz-input name="tel" type="text" id="tel" [(ngModel)]="client.tel2">
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- TELEFONO CONTACTO -->
        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="12">
          <nz-form-item>
            <nz-form-label  nzFor="telC">{{ 'CLIENTS.FORM.MOBILE_PHONE' | translate }}</nz-form-label>
            <nz-form-control >
              <input nz-input name="telC" type="text" id="telC" [(ngModel)]="client.telC2">
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- EMAIL -->
        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="12">
          <nz-form-item>
            <nz-form-label  nzFor="email">{{ 'CLIENTS.FORM.EMAIL' | translate }}</nz-form-label>
            <nz-form-control >
              <div nzFlex nzFlex="auto">
                <input nz-input name="email" type="email" id="email" [(ngModel)]="client.email">
                <div nzStatus="error" *ngIf="emailExist">
                  <small class="error">{{ 'CLIENTS.FORM.EMAIL.USED' | translate }}</small>
                </div>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="24" [nzSm]="24" [nzMd]="24">
          <!-- PROBLEMATICO -->
          <nz-form-item>
            <nz-form-label  nzFor="problematico">{{ 'CLIENTS.FORM.PROBLEMATIC' | translate}}</nz-form-label>
            <nz-form-control >
              <nz-switch name="problematico" id="problematico" [(ngModel)]="client.problematico"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="24" [nzSm]="24" [nzMd]="24">
          <nz-form-item>
            <nz-form-label [nzSpan]="3" nzFor="obs">{{ 'CLIENTS.FORM.OBSERVATIONS' | translate }} </nz-form-label>
            <nz-form-control [nzSpan]="20">
              <textarea nz-input name="obs" id="obs" [(ngModel)]="client.obs"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>


        <div nz-col [nzSpan]="24" [nzSm]="24" [nzMd]="24" style="display: flex; justify-content: center; align-items: center;">
          <!-- BOTON GUARDAR -->
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary">{{ 'BUTTON.SAVE' | translate }}</button>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>

    </form>
  </div>
