<h2 class="flex-container">
  <span *ngIf="!debtEdit.id"> {{ 'DEBT.FORM.TITLE.NEW' | translate }}</span>
  <span *ngIf="debtEdit.id"> {{ 'DEBT.FORM.TITLE.EDIT' | translate }}</span>

</h2>
<nz-breadcrumb>
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <span nz-icon nzType="home" routerLink="/"></span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <span nz-icon nzType="user"></span>
      <span *ngIf="!debtEdit.id"> {{ 'DEBT.FORM.BREADCRUMB.NEW' | translate}}</span>
      <span *ngIf="debtEdit.id"> {{ 'DEBT.FORM.BREADCRUMB.EDIT' | translate}} {{'(' +
        debtEdit.ticketNumber + ')' }}</span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div>

    <br>
    <br>
    <form nz-form (submit)="!debtEdit._id ? saveDebt() : updateDebt()">

      <div nz-row nzGutter="16">
        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="12">
          <!-- TICKET -->
          <nz-form-item>
            <nz-form-label nzFor="ticketNumber">{{'DEBT.FORM.TICKET_NUMBER' | translate}}&nbsp;<span
                class="error">*</span></nz-form-label>
            <nz-form-control>
              <div nzFlex nzFlex="auto">
                <input nz-input name="ticketNumber" type="text" id="ticketNumber" [(ngModel)]="debtEdit.ticketNumber">
                <div nzStatus="error" *ngIf="submitted && !debtEdit.ticketNumber">
                  <small class="error">{{ 'DEBT.FORM.TICKET_NUMBER.MANDATORY' | translate }}</small>
                </div>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row nzGutter="16">
        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="12">
          <nz-form-item>
            <nz-form-label nzFor="ticketNumber">{{'DEBT.FORM.QUANTITY' | translate}}</nz-form-label>
            <nz-form-control>
              <input nz-input name="quantity" type="number" id="quantity" [(ngModel)]="debtEdit.quantity">
            </nz-form-control>
          </nz-form-item>

        </div>


        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="12">
          <!-- DEBT DATE -->
          <nz-form-item>
            <nz-form-label nzFor="debtDate">{{ 'DEBT.FORM.DEBT_DATE' | translate}}</nz-form-label>
            <nz-form-control>
              <input nz-input name="debtDate" type="date" id="debtDate" [(ngModel)]="debtEdit.debtDate">
            </nz-form-control>
          </nz-form-item>
          <!--  -->
          <nz-form-item>
          </nz-form-item>
        </div>
      </div>


      <div nz-row nzGutter="16">
        <!-- PAID -->
        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="12" *ngIf="debtEdit.id">

          <nz-form-item>
            <nz-form-label nzFor="paid">{{ 'DEBT.PAID' | translate}}</nz-form-label>
            <nz-form-control>
              <nz-switch name="paid" id="paid" [(ngModel)]="debtEdit.paid"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>



        <!-- PAID DATE -->
        <div nz-col [nzSpan]="24" [nzSm]="12" [nzMd]="12" *ngIf="debtEdit.id">
          <nz-form-item>
            <ng-container *ngIf="debtEdit.paid">
              <nz-form-label nzFor="paidDate">{{ 'DEBT.FORM.PAID_DATE' | translate}}</nz-form-label>
              <nz-form-control>
                <input nz-input name="paidDate" type="date" id="paidDate" [(ngModel)]="debtEdit.paidDate">
              </nz-form-control>
            </ng-container>
          </nz-form-item>

        </div>
      </div>

      <div nz-row nzGutter="16">
        <div nz-col [nzSpan]="24" [nzSm]="24" [nzMd]="24"
          style="display: flex; justify-content: center; align-items: center;">
          <!-- BOTON GUARDAR -->
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary">{{ 'BUTTON.SAVE' | translate }}</button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    </form>
  </div>
