nz-layout {
  min-height: 100vh;
}

.contains-pet {
  color: rgb(23, 179, 23);
}

.dollar {
  color: green;
}


.client-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor:  pointer;
}

.client-name-pet {
  cursor: pointer;
  color: black;
}

.client-name-pet:hover {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: 0.2s ease;
}



.pet-drawer {
  font-size: 30px;
}

.client-list-item {
  cursor: pointer;
}


.custom-meta .ant-list-item-meta-title {
  order: -1 !important;
}
