<!-- CLIENTS -->
<nz-divider nzOrientation="left" nzText="{{ 'CONFIGURATION.CLIENT' | translate }}"></nz-divider>
<nz-row nzGutter="16">
  <!-- PROVINCE -->
  <nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" nzXl="6" nzXXl="6">
    <div class="inner-box">
      <nz-card nzTitle="{{ 'CONFIGURATION.CLIENT.PROVINCES' | translate }}">
        <p>{{'CONFIGURATION.CLIENT.PROVINCES.DESCRIPTION' | translate }}</p>
        <br>
        <div class="go-button">
          <button routerLink="/dashboard/configuration/clinic/provinces" nz-button nzType="primary">{{ 'BUTTON.GO' |
            translate }}</button>
        </div>
      </nz-card>
    </div>
  </nz-col>

  <!-- LOCALITY -->
  <nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" nzXl="6" nzXXl="6" nzOffset="1">
    <div class="inner-box">
      <nz-card nzTitle="{{ 'CONFIGURATION.CLIENT.LOCALITIES' | translate }}">
        <p>{{'CONFIGURATION.CLIENT.LOCALITIES.DESCRIPTION' | translate }}</p>
        <br>
        <div class="go-button">
          <button routerLink="/dashboard/configuration/clinic/localities" nz-button nzType="primary">{{ 'BUTTON.GO' |
            translate }}</button>
        </div>
      </nz-card>
    </div>
  </nz-col>
</nz-row>

<br>
<br>

<!-- PETS -->
<nz-divider nzOrientation="left" nzText="{{ 'CONFIGURATION.PET' | translate }}"></nz-divider>
<div nz-row nzGutter="16">
  <!-- SPECIES -->
  <div nz-col nzSpan="24" nzSm="12" nzMd="8" nzLg="6" nzXl="6" nzXXl="6">
    <div class="inner-box">
      <nz-card nzTitle="{{ 'CONFIGURATION.PET.SPECIES' | translate }}" style="width:100%">
        <p>{{'CONFIGURATION.PET.SPECIES.DESCRIPTION' | translate }}</p>
        <br>
        <div class="go-button">
          <button routerLink="/dashboard/configuration/clinic/species" nz-button nzType="primary">{{ 'BUTTON.GO' |
            translate }}</button>
        </div>
      </nz-card>
    </div>
  </div>

  <!-- RACE -->
  <div nz-col nzSpan="24" nzSm="12" nzMd="8" nzLg="6" nzXl="6" nzXXl="6">
    <div class="inner-box">
      <nz-card nzTitle="{{ 'CONFIGURATION.PET.RACE' | translate }}" style="width:100%">
        <p>{{'CONFIGURATION.PET.RACE.DESCRIPTION' | translate }}</p>
        <br>
        <div class="go-button">
          <button routerLink="/dashboard/configuration/clinic/races" nz-button nzType="primary">{{ 'BUTTON.GO' |
            translate }}</button>
        </div>
      </nz-card>
    </div>
  </div>

  <!-- COAT -->
  <div nz-col nzSpan="24" nzSm="12" nzMd="8" nzLg="6" nzXl="6" nzXXl="6">
    <div class="inner-box">
      <nz-card nzTitle="{{ 'CONFIGURATION.PET.COAT' | translate }}" style="width:100%">
        <p>{{'CONFIGURATION.PET.COAT.DESCRIPTION' | translate }}</p>
        <br>
        <div class="go-button">
          <button routerLink="/dashboard/configuration/clinic/coats" nz-button nzType="primary">{{ 'BUTTON.GO' |
            translate }}</button>
        </div>
      </nz-card>
    </div>
  </div>

  <!-- SEX -->
  <div nz-col nzSpan="24" nzSm="12" nzMd="8" nzLg="6" nzXl="6" nzXXl="6">
    <div class="inner-box">
      <nz-card nzTitle="{{ 'CONFIGURATION.PET.SEX' | translate }}" style="width:100%">
        <p>{{'CONFIGURATION.PET.SEX.DESCRIPTION' | translate }}</p>
        <br>
        <div class="go-button">
          <button routerLink="/dashboard/configuration/clinic/sexes" nz-button nzType="primary">{{ 'BUTTON.GO' |
            translate }}</button>
        </div>
      </nz-card>
    </div>
  </div>
</div>



<br>
<br>
<!-- APPLICATION -->
<nz-divider nzOrientation="left" nzText="{{ 'CONFIGURATION.CLINIC' | translate }}"></nz-divider>
<nz-row nzGutter="16">
  <!-- IMAGES -->
  <nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" nzXl="6" nzXXl="6">
    <div class="inner-box">
      <nz-card nzTitle="{{ 'CONFIGURATION.CLINIC.IMAGES' | translate }}">
        <p>{{'CONFIGURATION.CLINIC.IMAGES.DESCRIPTION' | translate }}</p>
        <br>
        <div class="go-button">
          <button routerLink="/dashboard/configuration/clinic/images" nz-button nzType="primary">{{ 'BUTTON.GO' |
            translate }}</button>
        </div>
      </nz-card>
    </div>
  </nz-col>




</nz-row>
