.column-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 16px;
}


.flex-button {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.obs {
  margin-left: 1.7rem;
}

.app-content {
  border:red 1px solid ;
}
