

<div class="legend">
  <legend>  {{ 'PET.DETAIL.HISTORY'  | translate }}</legend>
  <!-- EDIT BUTTON  -->
  <a (click)="showModal()" class="edit-button">
    <i class="bi bi-plus-circle"></i>
  </a>
</div>
<br>
<br>
<nz-spin [nzSpinning]="state.isLoading">
<nz-timeline nzMode="alternate" class="timeline-container">
  <nz-timeline-item *ngFor="let item of state.history">
    <strong>
    {{transformDate(item.fec)}}
  </strong>
  {{item.cli}}
</nz-timeline-item>
</nz-timeline>
</nz-spin>



  <!-- PET FORM MODAL -->
  <nz-modal [nzContent]="petModalContent" [nzStyle]="{ top: '20px', height: '100%' }" [nzMaskClosable]="false" [nzFooter]="null"
    [nzWidth]="'70%'"  [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()">
  </nz-modal>
  <ng-template #petModalContent>
    <app-pet-history-form [pet]="pet" [client]="client"  [pethistory]="pethistory" (update)="onUpdateHistory($event)" [isDetail]="true"></app-pet-history-form>
  </ng-template>
