@import '../../../../../../assets/css/confirm-modal.css';

.timeline-container {
  overflow-y: auto;
  height: 500px;
}



.today {
  color: rgb(23, 179, 23);
  font-size: 15px;
}

.timeline {
  cursor: pointer;
  padding-bottom: 30px !important;
}

.preserve-newline {
  white-space: pre-wrap;
}

.icon {
  font-size: 21px !important;
}


.flag {
  font-size: 17px;
}
